<form  action="/novo_chamado" method="POST">
     <p>protocolo: <input type="text" name="protocolo"></p>
      <p>Cliente: <select name="cliente">
                  
        <option value="">Pesquisar Cliente ... </option>
        <option>Débora Freire</option>
        <option>Jose da Silva</option>
        <option>Bruno Ferreira</option> 
        <option>Robert Freitas</option>
      </select></p>
      
      <p>Departamento: <select name="departamento">
        
        <option value="">Pesquisar Departamento ... </option>
        <option>Empresa 1 </option>
        <option>Empresa 2</option>
      
      </select></p>
      <p>Categoria: <select name="categoria">
        
        <option value="">Pesquisar Categoria ... </option>
        <option>Categoria 1 </option>
        <option>Categoria 2</option>
      
      </select></p>
      <p>Assunto: <input type="text" name="assunto"></p>
      <p>Mensagem:
      <textarea name="mensagem" class="field" cols="30" rows="10"></textarea>

      <p>Prioridade: <select name="status">
        
        <option value="">Baixa</option>
        <option>Media</option>
        <option>Alta</option>
        <option>Urgente</option>
      </select></p>

      <p>Atendente: <select name="atendente">
        
        <option value="">Escolher Atendente </option>
        <option>Atendente 1</option>
        <option>Atendente 2</option>
        <option>Atendente 3</option>
      </select></p>
    <button type="submit" style="text-align: left;">Cadastrar</button>

  </form>